/* Fil rouge : sélecteurs, dimensions, couleurs
Texte 
Background
Boxes
Positionning
Flex 
Grid 
Pseudo-classes
Responsive 
Débug
*/

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap"); /* Première méthode pour ne pas avoir à charger la police depuis l'hébergement du site. Inconvénient : si le lien est supprimé du site distant, le css de la font ne fonctionnera plus. */
@font-face {
  font-family: "font-1";
  src: url(./assets/fonts/NotoSansJP-Medium.otf);
} /*Seconde méthode, et meilleure pratique : la font est chargée depuis le serveur d'hébergement du site, donc aucun risque qu'elle disparaisse et que le css soit cassé.*/

/* Le sélecteur "*" permet de cibler directement TOUS les éléments du DOM.*/

body {
  font-family: "font-1", serif; /* Défini la police qui sera disponible de base partout sur le site. */
  /* background-color: moccasin; Première méthode pour mettre une couleur de background.*/
  background: /* moccasin */ url(./assets/images/bgdef.jpg) fixed no-repeat top/cover; /*Seconde méthode, et meilleure pratique, pour gérer tout ce qui concerne le background d'un élément. 
  Premier élément avant le slash défini l'endroit où doit se placer l'image, l'élément après le slash défini la méthode d'affichage.
  no-repeat annule la multiplication de l'image*/
  height: 100vh; /*vh = virtual height, donc 100vh = 100% de l'écran de l'utilisateur.*/
}

h1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 2.5rem; /* Utiliser uniquement rem pour définir les tailles de caractères */
  color: rgb(204, 204, 255);
  text-shadow: 5px 3px 0 #85dada31; /* x décale de gauche à droite, y de haut en bas et le blur gère le degré de flouttage de l'ombre */
  text-align: center; /* Façon la plus simple d'aligner un texte, pour les cas les pllus simples */
  font-family: "Playfair Display", serif; /* Le sélecteur h1 étant plus précis que le sélecteur body, c'est cette police qui sera utilisée pour cet élément, et non celle définit pour le body. */
}

main {
  background: whitesmoke;
  width: 90%; /*Pour les largeurs, la bonne pratique impose d'utiliser l'unité de mesure en pourcentage, pour une conception mobile-first.*/
  min-height: 500px;
  margin: 10px auto; /*Marge EXTERNE d'un élément HTML. 
    Meilleure pratique pour centrer un élément HTML*/
  padding: 15px; /*Marge INTERNE d'un élément HTML.*/
  border-radius: 10px;
  box-shadow: 0 2px 12px 5px rgba(0, 0, 0, 0.253);
}

/******************** Positioning *******************/

.positioning,
.flexbox,
.grid {
  /*Pour appeler une classe en css, il faut utiliser le "." .*/
  border: 2px solid skyblue;
  border-radius: 10px;
  padding: 10px;
  margin-top: 20px;
}

.positioning {
  position: relative; /*Position basique de l'élément HTML.*/
}

h2 {
  margin: 0; /*Pour supprimer les marges automatiques appliquées par les navigateurs*/
}

#circle {
  /*Pour appeler un id en css, il faut utiliser le symbole "#" .*/
  height: 60px;
  width: 60px;
  background: skyblue;
  padding: 20px;
  border-radius: 50%;
  position: absolute; /*Position de l'élément DANS LE CADRE DE SON ELEMENT PARENT, ici l'élément positionning*/
  box-shadow: 0 2px 12px 5px rgba(51, 51, 51, 0.13);
  top: -10px;
  right: 110px;
  z-index: 2000;
}

#rectangle {
  height: 15px;
  width: 100px;
  background: slateblue;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(
    -50%,
    -50%
  ); /*Méthode pour centrer un élément ayant un positionnement absolute.*/
}


/******************** Flexbox *********************/
ul {
    /*Aligner des éléments avec flexbox*/
    display: flex;
    justify-content: space-around;
    padding: 0;
}

li {
    list-style-type: none;
    font-size: 0.7rem;
    height: 160px;
    width: 160px;
    background: turquoise;
    /*Centrer verticalement avec flexbox*/
    display: flex;
    align-items: center;
    justify-content: center;
}

/******************** Grid *********************/

.grid-container {
    display: grid;
    grid-template-columns: 30% 70%; /*Méthode pour répartir la largeur des différentes colonnes.*/
    padding: 20px;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 'i1 i2' 'ta ta' 'bt bt';
}

.img {
    text-align: center;
}

input, textarea {
    margin: 5px;
    height: 45px;
    border: 1px solid darkblue;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.1rem;
    font-family: "font-1";
}

#firstname {
    grid-area: i1;
}

#lastName {
    grid-area: i2;
}

textarea {
    grid-area: ta;
    resize: none;
}

input[type="submit"] {
    grid-area: bt;
    cursor: pointer;
    background: cyan;
    transition: 0.3s;
}

input[type="submit"]:hover {
    color: white;
    background: darkblue;
}

/******************** Grid *********************/

@media screen and (max-width: 1000px) {
    .grid-container {
        display: block;
    }
}

@media screen and (max-width: 780px) {
    form {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: 'i1' 'i2' 'ta' 'bt';
    }
}